.dn-form-group:not(:last-child) {
    margin-bottom: 10px;
}

.dn-form-label {
    font-weight: bold;
    display: block;
    margin: 3px;
}

input[type="checkbox"] + label {
    font-weight: bold;
}

.dn-form-help {
    display: block;
    margin-top: 3px;
}

.dn-form-error {
    display: block;
    color: red;
    font-weight: 600;
    margin-top: 3px;
}

.dn_badge {
    display: inline-block;
    padding: 2px 6px;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
    border-radius: 3px;
}

.dn_badge.dn_is_true {
    background-color: aquamarine;
}

.dn_badge.dn_is_false {
    background-color: crimson;
    color: white;
}